/* the definition of the common style */

html {
  scroll-behavior: smooth;
}

//全体の設定。文字の設定が主である。
body {
  font-family: 'Roboto', 'Noto Sans JP', sans-serif;
  margin: 0;
  text-align: center;
  color: black;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-weight: bold;
}

h2 {
  margin-top: 1.6em;
}

p, a, h3 {
  letter-spacing: 0.08em;
  line-height: 1.8em;
}

a {
  color: inherit; //リンクの文字色を場所によって変える
  &:hover {
    color: $secondary-color;
  }
}

//投稿、トップページの情報ごとのひとかたまり
section {
  margin: 0 auto;
  padding: 3rem 0;
  width: 100vw;
  clear: both;
  overflow: hidden;
  
  .section-contents {
    margin: 0 auto;
    width: 100vw;
    max-width: 1000px;
    h2 {
      // font-family: 'Concert One', cursive;
      font-size: 2em;
      margin-bottom: 0.5em;
    }
    .caption {
      font-weight: 500;
      margin: 0 auto 2em;
    }
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.button {
  background-color: $secondary-color;
  border-radius: 10px;
  box-shadow: 0px 6px $third-color;
  color: #fff;
  display: block;
  margin: 0 auto 12px;
  padding: 8px 22px;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
  width: 40%;
  &:hover {
    box-shadow: none;
    opacity: 0.8;
    transform: translateY(12px);
    transition: 0.3s;
    color: #fff;
  }
}

@media screen and (max-width: 1000px) {
  .button {
    padding: 8px 0;
    width: 80%;
  }
}

.menu-hamburger {
  cursor: pointer;
  display: none;
  position: absolute;
  top: 14px;
  right: 24px;
  width: 20px;
  .fa-times {
    display: none;
  }
  img {
    height: 30px;
  }
}
.menu-list {
  list-style: none;
  margin: auto;
  padding: 0;
  width: 80vw;
  max-width: 1100px;
  > li {
    color: #fff;
    float: left;
    font-weight: bold;
    line-height: $navbar;
  }
  > li:not(:last-child) {
    margin-right: 24px;
  }
  li a {
    text-decoration: none;
  }
}

.menu-second {
  background-color: $light-gray;
  color: #000;
  display: none;
  list-style: none;
  padding: 0;
  position: fixed;
  text-align: left;
  > li {
    padding: 12px 24px;
    line-height: 1.2em;
  }
  > li:hover {
    background-color: #ddd;
  }
}
.menu-first:hover > .menu-second {
  display: block;
}

@media screen and (max-width: 1100px) {
  .menu-entry-button {
    background-color: $main-color;
    border-radius: 0;
    color: #fff;
    display: block;
    font-size: 1.2em;
    margin: 0;
    padding: 24px 0;
    position: static;
  }
  .menu-list {
    background-color: rgba(255, 255, 255, 0.8);
    display: none;
    height: 100vh;
    overflow-y: scroll;
    width: 100vw;
    > li {
      color: inherit;
      display: block;
      float: none;
      margin: 0 !important;
      line-height: 7vh;
    }
  }
  .menu-second {
    background-color: inherit;
    display: block;
    position: static;
    text-align: center;
    > li {
      line-height: 7vh;
      padding: 0;
    }
  }
  .menu-hamburger {
    display: block;
  }
}
#menu-check:checked {
  ~ .menu-list {
    display: block;
  }
  ~ .menu-hamburger .menu-bars {
    display: none;
  }
  ~ .menu-hamburger .menu-close {
    display: block;
  }
}

// .menu {
//   background-color: $main-color;
//   height: $navbar;
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   z-index: 10;
//   input {
//     display: none;
//   }
// }
// .menu-close {
//   background-color: #ff6a33;
//   border-radius: 0 0 0 8px;
//   display: none;
//   padding: 24px 14px;
//   position: absolute;
//   right: -24px;
//   top: -14px;
// }

//申し込みボタン
.menu-entry-button {
  background-color: #fff;
  border-radius: 4px;
  color: #555;
  display: inline;
  font-weight: bold;
  line-height: 24px;
  margin: calc((60px - 40px) / 2);
  padding: 8px 36px;
  position: absolute;
  right: 10vw;
  text-decoration: none;
}

// テーブル
table {
  border-collapse: collapse;
  border-spacing: 0;
}

table th,
table td {
  padding: .5em 1.5em;
  border: 1px solid #505050;
}

table thead th {
  background-color: #e8e8e8;
}

.no-padding {
  padding: 0;
}
.bg-main{
  background-color: white;
}

.ws-title{
    font-weight: bold;
    padding: 1rem 1rem;
    border-left: 5px solid $main-color;
    background: #f4f4f4;
}

/* badge */
.badge-must{
    font-weight: bold;
    font-size: 14px;
    background-color: $color-necessary;
}

.badge-none{
    font-weight: bold;
    font-size: 14px;
    background-color: $light-blue;
}

.badge-ws{
    font-weight: normal;
    font-size: 14px;
    background-color: $main-color;
    color: white;
}

.badge-main{
    background-color: $main-color;
}

/* tag */
.tags {
    text-align: center;
}


/* button */
.btn-main{
    background-color: $main-color;
    color: white;
}

.btn-secondary {
    background-color: $light-blue;
    color: white;
    border: none;
}


/* copy the style definition of _sass/_top.scss */

.top-contents {

  //会場地図(google map)
  .map {
    width: 100%;
    max-width: 600px;
  }

  //スピーカーの情報の配置
  .speaker {
    margin-bottom: 48px;
  }
  .speaker-description {
    clear: both;
  }
  .speaker-img {
    border-radius: 60px;
    float: left;
    margin: 0 12px 12px 0;
    width: 120px;
  }

  //スピーカーのサイトなどリンク
  .link {
    background-color: $main-color;
    border-radius: calc(12px + 0.5em);
    color: #fff;
    padding: 12px;
    margin-right: 6px;
  }

  //後援のリスト設定クリア
  .list-simple {
    list-style: none;
    margin-top: 24px;
    padding: 0;
    a {
      text-decoration: none;
    }
  }

  //スポンサー
  #sponsors h3 {
    background: rgba(15, 175, 250, 0.1);
    border-radius: 10px;
    clear: both;
    color: #646464;
    font-size: 14px;
    margin: auto;
    padding: 5px;
    text-align: center;
    width: 150px;
  }
  .sponsors-rank {
    letter-spacing: -1em;
    margin-bottom: $navbar;
    text-align: left;
    img {
      display: block;
      height: 16vw;
      max-height: 120px;
      float: left;
      object-fit: contain;
    }
  }
  .sponsors-rank-img {
    display: block;
    height: 16vw;
    max-height: 120px;
    float: left;
    object-fit: contain;
  }
  
  .individual {
    text-align: center;
    list-style: none;
    letter-spacing: 0.08em;
    padding: 0;
    li {
      display: inline-block;
    }
    li:not(:last-child)::after {
      content: ',';
    }
  }
  
  .sponsor-gold {
    padding: 4vw;
    width: calc(100% - 8vw);
  }
  .sponsor-silver {
    padding: 2vw;
    width: calc(50% - 4vw);
  }
  .sponsor-bronze,
  .sponsor-in-kind {
    padding: 1vw;
    width: calc(25% - 2vw);
  }

  //実行委員一覧
  .flex {
    display: flex;
    flex-wrap: wrap;
  }
  .member {
    float: left;
    padding: 1.5vw;
    width: calc(20% - 3vw);
    p {
      font-size: 14px;
      margin-top: 1vw;
      transition: 0.5s;
      width: 100%;
      height: 25px;
    }

    @media screen and (min-width: 1000px) {
      width: 20%;

      .member-image {
        max-height: unset;
      }
    }
  }
  .member:hover p {
    font-weight: bold;
    transition: 0.5s;
  }

  .member-image {
    padding-bottom: 0px;
    //height: calc(16vw - 3vw);
    //height: 10px;
    max-height: 130px;
    img {
      border-radius: 50%;
      box-shadow: 0 0 3px #d1d3e4;
      transition: 0.5s;
      width: 100%;
    }
  }
  .member-image :hover {
    border-radius: 40%;
    box-shadow: 0 0 10px #d1d3e4;
    transition: 0.5s;
  }

  @media screen and (max-width: 800px) {
    .member {
      //width: calc(33% - 3vw);
      width: 120px;
      p { margin-top: 3vw; }
    }
    .member-image {
      //height: calc(26vw - 3vw);
      height: 100px;
      max-height: 100px;
    }
  }

  .table-column {
    float: left;
    margin: 0 4px;
    h3 {
      font-size: 1em;
      margin: 0;
    }
    p {
      font-size: 12px;
      margin: 0;
    }
    ol {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    li {
      background-color: $light-gray;
      display: block;
      margin-bottom: 8px;
      padding: 10px;
    }
  }
  .table {
    z-index: 1;
    input {
      display: none;
    }
    h2 {
      background-color: $light-gray;
      color: $brown;
      float: left;
      font-size: 1em;
      margin: 4px;
      padding: 8px;
      text-align: center;
    }
  }
  .table-content {
    display: none;
    position: relative;
    width: calc(100% - 58px - 16px - 8px);
    li {
      position: absolute;
    }
  }
  .table-session {
    li {
      width: 100%;
    }
    .session-tag {
      background-color: #fff;
    }
  }
  .table-workshop {
    li {
      width: calc(33% - 20px);
    }
  }
  .table-head {
    width: calc((100% - 58px) / 2 - 16px - 8px);
  }
  .table-time {
    clear: both;
    width: 50px;
    li {
      font-size: 12px;
      font-weight: bold;
      height: calc(240px - 20px - 8px);
    }
  }
  .table-timehead {
    width: calc(50px - 16px);
  }
  
  #radio-session:checked ~ .table-session,
  #radio-workshop:checked ~ .table-workshop {
    display: block;
  }
  .table input:checked + label h2 {
    background-color: $light-blue;
    color: #fff;
  }
  @media screen and (max-width: 1000px) {
    .table-head {
      width: calc((100% - 58px) - 16px - 8px);
    }
    .table-timehead {
      height: calc(24px * 2 + 16px + 8px);
    }
  }

  //記事サムネイル
  .thumbnail {
    margin: 0 10%;
    width: 80%;
  }

  .socials-list {
    a {
      font-size: 6em;
    }
  }
}

.wait-for-a-moment {
  font-size: 2em;
  margin: 60px auto;
  text-align: center;
  width: 100%;
}

.ignore-pc {
  display: none;
}
.ignore-sp {
  display: inline;
}

.back-to-top {
  color: $main-color;
}