@media screen and (max-width: 800px) {
  .x-scroll {
    overflow-x: scroll;
    flex-wrap: nowrap !important;
    margin: 0 1rem;
  }
  // タブレットとスマートフォンでは、トップへ戻るボタンは表示しない
  #page-top a {
    display: none;
  }
}
