$main-color: #7e2639;
$secondary-color: #642580;
$third-color: #004466;
$text-color: #ffffff;
$color-necessary: #ffe6cc;

// SNS
$color-facebook: #3b5998;
$color-twitter: #1da1f2;
$color-line: #00bb00;

// 以下廃止予定
$light-blue: #80d8ff;
$light-gray: #f5f5f5;
$gray: #aaa;
$brown: #4f2c13;

