<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-main fixed-top">
      <a class="navbar-brand" href="/#top">
        <img src="/img/2023/logo_640x160.svg" width="290px" class="d-inline-block align-top" alt="ナビゲーション・アイコン">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-nav"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-nav" style="padding-right: 10px;">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/#top">TOP</a>
          <!--<a class="nav-item nav-link active" href="/#outline">概要</a>-->
          <a class="nav-item nav-link active" href="/#news">お知らせ</a>
          <!--<a class="nav-item nav-link active" href="/timetable">タイムテーブル</a>-->
          <a class="nav-item nav-link active" href="/sessions">セッション</a>
          <a class="nav-item nav-link active" href="/events">イベント企画</a>
          <!--<a class="nav-item nav-link active" href="/contest">コンテスト</a>-->
          <!--<a class="nav-item nav-link active" href="/workshops">ワークショップ</a>-->
          <!--<a class="nav-item nav-link active" href="/dojos">Dojo自慢</a>-->
          <a class="nav-item nav-link active" href="{{ site.contact }}" target="_blank">問い合わせ</a>
          {% if site.registration %}
          <a class="nav-item nav-link active link_button" href="/registration/" target="_blank" style="padding-left:30px;padding-right: 30px;color:white;font-weight: normal;">参加申し込み</a>
          {% else %}
          <div class="disable_button">参加申し込み</div>
          {% endif %}
        </div>
      </div>
  </nav>
</header>