.ws-title{
    font-weight: bold;
    padding: 1rem 1rem;
    border-left: 5px solid $main-color;
    background: #f4f4f4;
    font-weight: normal;

}

.btn-main{
    background-color: $main-color;
    color: rgb(255, 255, 255);
    font-weight: normal;
}

.btn-secondary {
    background-color: $main-color;
    color: white;
    border: none;
}

.badge-must{
    font-weight: bold;
    font-size: 14px;
    background-color: $light-red;
}

.badge-none{
    font-weight: bold;
    font-size: 14px;
    background-color: $light-blue;
}

.badge-ws{
    font-weight: bold;
    font-size: 14px;
    color:white;
    font-weight: normal;
    background-color: $main-color;
}

.badge-main{
    background-color: $main-color;
}

.session-speaker-name{
    font-weight: bold;
}
