/* stylesheet for `index.md` */

.ignore-pc {
  display: none;
}
.ignore-sp {
  display: inline;
}

.top {
  // height: calc(100vh - 60px);
  // margin: 0 2rem;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 0 30px;
  .tagline-box {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    .tagline {
      transform: rotate(90deg);
      transform-origin: top left;
      text-align: left;
      // margin: 0 0 30px 0;
      font-size: 0.8rem;
      margin-left: 80px;
    }
  }
  .information {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    text-align: left;
    align-items: end;
    .theme {
      font-weight: bolder;
      font-size: 4rem;
      margin: 0 0 0 30px;
    }

    img {
      margin-top: -3em;
    }
  
    .event-date-and-location {
      p {
        font-size: 1.2rem;
        font-weight: bold;
        margin: 0 30px;
        line-height: 1.6rem;
      }
    }
  }
  .character {
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
    img {
      width: 100%;
      height: auto;
    }
  }
}

section#contact {
  background: $secondary-color;
  color: #ffffff;

  a.button {
    background: inherit;
    box-shadow: none;
    border: solid 2px #ffffff;
  }
}

div#about {
  h2 {
    color: $secondary-color;
    font-weight: bold;
    text-transform: uppercase;
  }

  .wrapper-block {
    display: grid;
    grid-template-rows: auto auto auto;

    color: #ffffff;
    background: linear-gradient(to right, white 25%, white 25%,  $secondary-color 25%, $secondary-color 100%);

    h3 {
      font-size: 1.65em;
      line-height: 1em;
    }

    .description {
      p {
        font-size: 0.85em;
        line-height: 1.5em;
      }
    }

    img {
      max-width: 50vw;
    }

    section.first-section {
      grid-row: 1;

      display: grid;
      grid-template-columns: 1fr 3fr 2fr 2fr;
      column-gap: 20px;

      img {
        grid-column: 2;
        width: 100%;
        height: auto;
      }

      .description {
        grid-column: 3;
      }
    }

    section.second-section {
      grid-row: 2;

      display: grid;
      grid-template-columns: 2fr 3fr 1fr 2fr;
      column-gap: 20px;

      .description {
        grid-column:  2;
      }

      img {
        grid-column: 3;
        width: 100%;
        height: auto;
        border-radius: 10px;
      }
    }

    section.third-section {
      grid-row: 3;

      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      column-gap: 20px;

      .description {
        grid-column: 2;
      }
    }
  }
}

.map {
  margin-bottom: 30px;
}

.container {
  // a {
  //   color: $main-color;
  // }

  a.button {
    color: #ffffff;
    background: $main-color;
  }
}

.title-text{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
}

.about-title{
  font-size: 18px;
  font-weight: bold;
  padding: 1rem 2rem;
  border-top: 3px solid $main-color;
  background: #f4f4f4;
}


.section-colored {
    color: #fff;
    background-color: $main-color;
}

.section-white {
    background-color: #fff;
}

.section-gray {
    background-color: $light-gray;
}

// トップページの内容

.comming-soon {
  font-size: 1.2em;
  margin-bottom: 60px;
}

$corner-radius: 30px;
#colored_zone {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  color: white;
  text-align: left;
  
  .delimiter {
    grid-column: auto;
    grid-row: auto;
  }
  .title-welcome {
    grid-column: 3 / span 8;
    grid-row: auto;
    order: 1;
    color: $secondary-color;
    font-size: 5em;
    text-align: right;
    margin-bottom: 0;
    font-weight: bold;
    margin-bottom: -0.3em;
    margin-top: 30px;
  }
  .dojocon-image {
    grid-column: 3 / span 4;
    grid-row: auto;
    order: 2;   
    color: white;
    background-color: $secondary-color;
    border-radius: $corner-radius 0 0 0;
    img {
      padding-top: 60px;
      margin-left: -20%;
      width: 110%;
    }
  }
  .about-dojocon {
    grid-column: 7 / span 4;
    order: 3;
    padding-top: 60px;
    padding-bottom: 15px;
    background-color: $secondary-color;
    text-align: left;
    .short {
      text-align: left;
      padding: auto;
      font-size: 2em;
      font-weight: bold;
    }
    .long {
      margin-top: 1.5em;
      font-size: 1em;
    }
  }
  .spacing1,
  .spacing2,
  .spacing3 {
    grid-column: 11 / span 2;
    background-color: $secondary-color;
  }

  .spacing1 { order: 4; }
  .spacing2 { order: 7; }
  .spacing3 { order: 9; }

  .about-coderdojo {
    grid-column: 3 / span 6;
    grid-row: auto;
    order: 5;
    background-color: $secondary-color;
    padding: 60px 30px 0 30px;
    .short {
      text-align: left;
      padding: auto;
      font-size: 2em;
      font-weight: bold;
    }
    .long {
      margin-top: 1.5em;
      font-size: 1em;
      .annotation {
        font-size: 0.8em;
      }
    }
  }
  .coderdojo-logo {
    grid-column: 9 / span 2;
    grid-row: auto;
    order: 6;
    background-color: $secondary-color;
    text-align: right;
    padding-top: 60px;
    img {
      border-radius: 15px;
      width: 100%;
    }
  }
  .about-dojocon-this-year {
    grid-column: 3 / span 8;
    grid-row: auto;
    order: 8;
    background-color: $secondary-color;
    border-radius: 0 0 0 $corner-radius;
    padding: 60px 15px 60px 30px;
    .short {
      text-align: left;
      padding: auto;
      font-size: 2em;
      font-weight: bold;
    }
    .long {
      margin-top: 1.5em;
      font-size: 1em;
      .annotation {
        font-size: 0.8em;
      }
    }
  }
}

#staff {
  padding: auto;
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    li {
      display: flex;
      flex-direction: column;
    }
  }
}

// タブレット
@media screen and (max-width: 800px) {
  #colored_zone {
    .title-welcome {
      font-size: 6vw;
      grid-column: 2 / span 10;
    }
    .dojocon-image {
      grid-column: 2 / span 12;
      img {
        width: 80%;
        margin-left: -5%
      }
    }
    .about-dojocon {
      grid-column: 2 / span 12;
      padding-left: 30px;
      padding-right: 30px;
    }

    .about-coderdojo {
      grid-column: 2 / span 6;
    }
    .coderdojo-logo {
      grid-column: 8 / span 5;
      text-align: center;
      img {
        width: 60%;
      }
    }
    .about-dojocon-this-year {
      grid-column: 2 / span 12;
    }
  }
}

@media screen and (max-width: 640px) {
  .ignore-pc {
    display: inline;
  }
  .ignore-sp {
    display: none;
  }

  .top {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr 1fr;
    padding: 0 0;
    .tagline-box {
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
      .tagline {
        transform: rotate(90deg);
        transform-origin: top left;
        text-align: left;
        // margin: 0 0 30px 0;
        font-size: 0.65rem;
        margin-left: 50px;
        width: 300%;
      }
    }
    .information {
      grid-column: 1 / span 2;
      grid-row: 2 / span 1;
      text-align: left;
      align-items: end;
      .theme {
        font-weight: bolder;
        font-size: 2rem;
        margin: 0 0 30px 20px;
      }
  
      img {
        margin-top: -4em;
      }
    
      .event-date-and-location {
      }
    }
    .character {
      grid-column: 2 / span 1;
      grid-row: 1 / span 1;
      overflow-x: hidden;
      img {
        width: 110%;
      }
    }
  }

  #colored_zone {
    .about-dojocon {
      padding: 60px 30px 60px 30px;
      .short {
        font-size: 1.5em;
      }
    }
    .coderdojo-logo {
      grid-column: 2 / span 12;
      text-align: center;
      order: 5;
      padding-top: 0;
      padding-bottom: 60px;
      img {
        width: 60%;
      }
    }
    .about-coderdojo {
      grid-column: 2 / span 12;
      padding: 0 30px;
      order: 6;
      .short {
        font-size: 1.5em;
      }
    }
    .about-dojocon-this-year {
      grid-column: 2 / span 12;
      padding: 60px 30px 60px 30px;
      .short {
        font-size: 1.5em;
      }
    }
  }
}

#news {
  padding: 0 0 3rem 0;  
}
