/* stylesheet for `index.md` */

.ignore-pc {
  display: none;
}
.ignore-sp {
  display: inline;
}
@media screen and (max-width: 640px) {
  .ignore-pc {
    display: inline;
  }
  .ignore-sp {
    display: none;
  }
}  

.top {
    height: calc(100vh - 60px);
    margin: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .main-visual-container {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .main-visual-left {
        display: grid;
        grid-template-rows: 1fr auto auto auto;

        text-align: left;

        h1.theme-phrase {
          font-weight: bolder;
          font-size: 3.75rem;
          margin: 0 30px -20px;
        }

        .event-date-and-location {
          p {
            font-size: 0.85rem;
            font-weight: bold;
            margin: 0 30px;
          }
        }

        .decoration-wrapper {
          position: relative;

          .decoration {
            position: absolute;
            top: 0;
            left: calc(2rem + 30px);
            transform: rotate(90deg);
            transform-origin: 0 0;

            p {
              margin: 0 0 -5px;
              font-size: 0.65rem;
            }
          }
        }
      }

      .main-visual-right {
        img {
          max-width: 65vw;
          max-height: 65vh;
          height: auto;
        }
      }
    }
}

@media screen and (max-width: 640px) {
    .top {
        h1 {
            transform: translateY(-25px);
        }
    }
}

.title-text{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
}

.about-title{
  font-size: 18px;
  font-weight: bold;
  padding: 1rem 2rem;
  border-top: 3px solid $main-color;
  background: #f4f4f4;
}


.section-colored {
    color: #fff;
    background-color: $main-color;
}

.section-white {
    background-color: #fff;
}

.section-gray {
    background-color: $light-gray;
}
