#sponsors {
  #gold-sponsors,
  #silver-sponsors,
  #bronze-sponsors {
    h3 {
      text-align: center;
      margin-top: 2em;
      margin-bottom: 1em;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      padding-left: 0;
      li {
        list-style: none;
        display: block;
        padding-top: 100px;
        width: 50%;
        @media screen and (max-width: 640px) {
          width: 100%;
        }
        a {
          display: block;
          margin: 2px;
          // max-width: 30vw;
          margin-left: auto;
          margin-right: auto;
          padding-left: 1em;
          padding-right: 1em;
          text-align: center;
          padding-top: 100px;
          margin-top:-100px;
          @media screen and (max-width: 640px) {
            padding: 0;
          }
          img {
            object-fit: contain;
            margin: auto;
            width: 100%;
            width: 240px;
            height: 240px;
            // height: 480px;
             // border: 1px solid #ccc;
          }
        }
        .name {
          display: block;
          text-align: center;
          margin: auto;
          padding: 15px 0;
          // height: 2em;
          font-weight: bold;
          align-content: flex-start;
        }
        .message {
          padding-left: 15px;
          padding-right: 15px;
        }
      }
    }
  }
}


