---
layout: post
title: スポンサー企業のご紹介
date: 2023-07-27T16:00:00 UTC+9
categories: sponsors
# thumbnail: 
permalink: /posts/sponsors/
---

{% assign platinum_sponsors   = site.data.sponsors | where: "type", "platinum"   %}
{% assign gold_sponsors       = site.data.sponsors | where: "type", "gold"       %}
{% assign silver_sponsors     = site.data.sponsors | where: "type", "silver"     %}
{% assign bronze_sponsors     = site.data.sponsors | where: "type", "bronze"     %}
{% assign inkind_sponsors     = site.data.sponsors | where: "type", "inkind"     %}
{% assign individual_sponsors = site.data.sponsors | where: "type", "individual" %}

<p>
  DojoCon Japan 2023は、スポンサー企業のご協力により開催されています。協賛くださいました、企業のみなさまありがとうございます。
</p>
{% if platinum_sponsors != empty %}
  <div id="platinum-sponsors" class="sponsors-container">
    <h3>Platinum Sponsor</h3>
    <ul>
      {% for sponsor in platinum_sponsors %}
        <li id="{{ sponsor.id }}">
          <a href="{{ sponsor.link }}" target="_blank">
            <img src="/img/{{ site.year }}/sponsor/{{ sponsor.logo }}" alt="{{ sponsor.name }}" />
          </a>
          <p class="name">{{ sponsor.name }}</p>
          <p class="msg">{{ sponsor.msg }}</p>
        </li>
        {% endfor %}
      </ul>
  </div>
{% endif %}

{% if gold_sponsors != empty %}
  <div id="gold-sponsors" class="sponsors-container">
      <h3>Gold Sponsor</h3>
      <ul>
        {% for sponsor in gold_sponsors %}
          <li id="{{ sponsor.id }}">
            <a href="{{ sponsor.link }}" target="_blank">
              <img src="/img/{{ site.year }}/sponsor/{{ sponsor.logo }}" alt="{{ sponsor.name }}" />
            </a>
            <p class="name">{{ sponsor.name }}</p>
            <p class="msg">{{ sponsor.msg }}</p>
          </li>
          {% endfor %}
        </ul>
    </div>
  {% endif %}

  {% if silver_sponsors != empty %}
  <div id="silver-sponsors" class="sponsors-container">
      <h3>Sliver Sponsor</h3>
      <ul>
        {% for sponsor in silver_sponsors %}
          <li id="{{ sponsor.id }}">
            <a href="{{ sponsor.link }}" target="_blank">
              <img src="/img/{{ site.year }}/sponsor/{{ sponsor.logo }}" alt="{{ sponsor.name }}" />
            </a>
            <p class="name">{{ sponsor.name }}</p>
            <p class="msg">{{ sponsor.msg }}</p>
          </li>
          {% endfor %}
        </ul>
    </div>
  {% endif %}

  {% if bronze_sponsors != empty %}
  <div id="bronze-sponsors" class="sponsors-container">
      <h3>Bronze Sponsor</h3>
      <ul>
        {% for sponsor in bronze_sponsors %}
          <li id="{{ sponsor.id }}">
            <a href="{{ sponsor.link }}" target="_blank">
              <img src="/img/{{ site.year }}/sponsor/{{ sponsor.logo }}" alt="{{ sponsor.name }}" />
            </a>
            <p class="name">{{ sponsor.name }}</p>
            <p class="msg">{{ sponsor.msg }}</p>
            </li>
          {% endfor %}
        </ul>
    </div>
  {% endif %}
