/* stylesheet for `_includes/footer.html` */

footer {
  background-color: $secondary-color;
  color: #fff;
  padding-bottom: 12px;
  margin-top: auto;
  .share {
    a {
      float: left;
      line-height: 60px;
      height: 60px;
      width: 50%;
      text-decoration-line: none;
      &:hover {
        opacity: .8;
      }
    }
    &::after {
      content: '';
      clear: both;
      display: block;
    }
    .share-twitter,
    .share-facebook {
      display: block;
    }
    .share-facebook {
      background-color: $color-facebook;
    }
    .share-twitter {
      background-color: $color-twitter;
    }
    .share-line {
      background-color: $color-line;
      display: none;
    }
  }
  .footer-menu {
    .footer-menu-list {
      list-style: none;
      padding: 0;
      margin-top: 1.5em;
      li {
        display: inline;
        padding: 0 .5em;
        a {
          &:hover {
            color: white;
            opacity: 0.8;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .share a {
    width: 100%;
  }
  .share-line {
    display: block;
  }
}
