/* stylesheet for `_layouts/default.html` */

#page-top a {
  background-color: #ccc;
  border-radius: 35px;
  bottom: 0;
  color: #fff;
  font-size: 1.5em;
  line-height: 70px;
  height: 70px;
  margin: 4vw;
  opacity: 0.6;
  position: fixed;
  right: 0;
  transition: 0.3s;
  width: 70px;
  &:hover {
    opacity: 1;
  }
}

@media screen and (max-width: 640px) {
  #page-top a {
    display: none;
  }
}
