/* stylesheet for `_layouts/post.html` */

.post {
  margin-bottom: 12vh;
  text-align: left;
  padding: 0 1rem;
  h1.post-title {
    text-align: center;
    font-size: 2rem;
  }
  .post-date,
  .post-time {
    text-align: center;
  }
  .post-content {
    padding: 24px 0;
    max-width: 800px;
    margin: auto;
    h2 {
      text-align: left;
    }
    img {
      display: block;
      width: 100%;
      margin: auto;
      max-width: 600px;
    }
  }
}

.post-head {
  // margin-bottom: 60px;
  padding: $navbar 0;
  padding-top: 60px;
  h2 {
    margin: 0;
    font-weight: 700;
    font-size: 2.5rem;
  }
}

.post-title {
  font-size: 1.6em;
}

.post-thumbnail{
  width: 30%;
  margin: 0 auto;
}

.tag-post {
  background-color: $light-gray;
  border-radius: 1em;
  display: inline-block;
  margin: 6px;
  padding: 4px 24px;
}

#event {
  h2 {
    font-size: 1.2em;
    margin-bottom: 0.5em;
    background-color: $third-color;
    color: white;
    padding: 10px;
  }
  h3 {
    font-size: 1em;
    text-decoration: underline;
  }
  ol {
    li {
      margin-bottom: 1em;
    }
  }
  a {
    color: $main-color;
    &:hover {
      text-decoration: underline;
    }
  }

  .entry {
    text-align: center;
    margin: 6em 0;
    a {
      &.condition {
        font-size: 1.4em;
        margin: 2em 0;
      }
      &.button {
        color: white;
        font-size: 1.6em;
      }
    }
  }
}