/* stylesheet for `_layouts/post.html` */

.post {
  margin-bottom: 12vh;
  text-align: left;
  padding: 0 1rem;
  h1.post-title {
    text-align: center;
    font-size: 2rem;
  }
  .post-date,
  .post-time {
    text-align: center;
  }
  .post-content {
    padding: 24px 0;
    max-width: 800px;
    margin: auto;
    h2 {
      text-align: left;
    }
    img {
      display: block;
      width: 100%;
      margin: auto;
      max-width: 600px;
      &.full_width1 {
        max-width: 100%;
        margin-bottom: 3rem;
      }
      &.full_width2 {
        max-width: 100%;
        margin-top: 3rem;
      }
    }
  }
  /* TODO: session 用の scss に分離する */
  .session-post-content {
    padding: 24px 0;
    margin: auto;
  }
}

.post-head {
  // margin-bottom: 60px;
  padding: $navbar 0;
  padding-top: 60px;
  h2 {
    margin: 0;
    font-weight: 700;
    font-size: 2.5rem;
  }
}

.post-title {
  font-size: 1.6em;
}

.post-thumbnail{
  width: 30%;
  margin: 0 auto;
}

.tag-post {
  background-color: $light-gray;
  border-radius: 1em;
  display: inline-block;
  margin: 6px;
  padding: 4px 24px;
}

#session, #news, #event {
  h2 {
    font-size: 1.2em;
    margin-bottom: 0.5em;
    padding: 10px;
    border-left: 8px solid $main-color;
    border-bottom: 2px solid $main-color;
}
  h3 {
    font-size: 1em;
    text-decoration: underline;
  }
  ol {
    li {
      margin-bottom: 1em;
    }
  }

  ul {
    li {
      margin-top: 0.5em;
    }
  }

  /* ボタンリンク以外の anchor のスタイルを定義 */
  :not(.framed_button) {
    & > a {
      color: $main-color;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .entry {
    text-align: center;
    margin: 6em 0;
    a {
      &.condition {
        font-size: 1.4em;
        margin: 2em 0;
      }
      &.button {
        color: white;
        font-size: 1.6em;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.framed_button {
  text-align: center;
  margin: 4em 0;
  a {
    border-radius: 6px;
    background-color: $main-color;
    color: white;
    font-size: 1.4em;
    padding: 1em 1em;
    width: 80%;
    margin: 2em auto;
    text-align: center;
    &:hover {
      color: white;
      text-decoration: underline;
    }
  }
}

#news {
  h2 {
    font-size: 1.2em;
  }
}
