<!DOCTYPE html>
<html lang="ja" dir="ltr">
  {% include head.html %}
  <body>
    {% include navbar.html %}
    {{content}}
    <div id="page-top"><a href="#top"><img src="/img/svg/up.svg" alt="Up" width="24px" /></a></div>
    {% include footer.html %}

    <script>
     window.onload = function() {
       var agent = window.navigator.userAgent.toLowerCase();
       var ie11 = (agent.indexOf('trident/7') !== -1);
       if(ie11){
	 var spimg = document.getElementsByClassName("sponsors-rank-img");
	 for(var i = 0; i < spimg.length; i++) {
    	   spimg[i].style.height    = "auto";
    	   spimg[i].style.maxHeight = "none";
	 }
       }
     }
    </script>
  </body>
</html>
