.thumbnail-maker {
    max-width: 1500px;
    margin: auto;
    .title-block {
        padding: 2rem;
        .title {
            font-size: 2rem;
            font-weight: bold;
        }    
    }

    .thumbnail-preview {
        height: 60vh;
        position: relative;
        background:url(/img/thumbnail-maker/bg.svg) no-repeat center;
        background-size: cover;
        display:flex;
        align-items: center;
        margin: 0 6rem 3rem;

        border-color: #046;
        border-width: 6px;
        border-style: dashed;
    
        &::before{
            content:"";
            position: absolute;
            width: 80%;
            height: 80%;
            top: 10%;
            left: 10%;
            background:url(/img/thumbnail-maker/bg2.svg) no-repeat center;
            background-size: contain;
        }
    
        .main-flex{
            width:100%;
            display:flex;
            flex-direction: column;
            align-items: center;
            z-index:10;
            margin-top: 3vw;
        }
    
        .thema{
            width:15%;
        }
    
        .logo{
            width:60%;
        }
    
        .textarea-box{
            width: 90%;
            background: #faee00;
            border: 10px solid #2ba6e0;
            padding:0.5vw 1vw;
            border-radius: 5px;
            margin: 15px 0;
        }
    
        textarea.message{
            width: 100%;
            height:54px;
            font-size: 42px;
            border: none;
            background:none;
            color: #2ba6e0;
            font-weight: bold;
            text-align:center;
            letter-spacing: .1em;
            line-height   : 52px;
            overflow:hidden;
            resize: none;
        }
    
        textarea.message:focus{
            outline:none;
        }
    
        textarea.message::selection {
            background: #2ba6e0;
            color: #fff;
        }
    }

    .btn {
        background-color: #faee00;
        border-color: #046;
        color: #046;
        border-width: 3px;
        border-style: solid;
        border-radius: 5px;
        font-size: 2rem;
        font-weight: bold;
        cursor: pointer;
        margin: 1rem 0;
    }

    .inline-block {
        display: inline-block;
    }

    .links {
        display: flex;
        flex-direction: column;
        padding: 0 6rem;
    }
}